i.icon-black {
    color: rgb(0, 0, 0);
}

i.icon-golden {
    color: rgb(245, 131, 24);
}


.small-font {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.medium-font {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.large-font {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.title {
    color: #A50740;
}
img {
    border-radius: 8px;
    max-height: 250px;
  }

.modified-btn {
    border-width: 30px;
    border-color: #A50740;
    color: #A50740;
    background-color: rgb(253, 253, 253);
}